@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Variable.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Variable.ttf);
}
body{
    color: hsl(0, 0%, 95%);
    font-family: Roboto, sans-serif;
    background-color: hsl(0, 0%, 10%);
}
h1, h2{
    font-family: OpenSans, sans-serif;
}
h1{
    font-size: 22px;
}
h2{
    font-size: 16px;
}
img{
    width: 400px;
    height: auto;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
a:link, a:visited{
    color: hsl(0, 0%, 95%);
}